/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset
@import compass/css3
@import compass/typography

/* Mixins */

=panel( $background: #FAFAFA, $border: #F8F8F8, $radius : 0.25em)
  background: $background
  border: 1px solid $border
  +border-radius($radius)


/* Font Faces */

+font-face("Bitter", font-files("bitter/Bitter-Regular.otf"))
+font-face("Bitter-Bold", font-files("bitter/Bitter-Bold.otf"))
+font-face("Roboto", font-files("roboto-slab/RobotoSlab-Regular.ttf"))

/* Fonts */

$font-size: 16px

+establish-baseline($font-size)

p, li, label, input
  font-family: "Roboto"
p
  +padding-leader(1, $font-size)
  &:last-of-type
    +padding-trailer(1, $font-size)

h1, h2, h3, h4, h5, h6
  font-family: "Bitter-Bold"
h1
  font-size: $font-size * 2.5
  +adjust-font-size-to($font-size * 2.5)
  +padding-leader(1, $font-size * 2.5)

h2
  font-size: $font-size * 2
  +adjust-font-size-to($font-size * 2)
  +padding-leader(1, $font-size * 2)

/*  Page Flex Layout */

body
  +display-flex(flex)
  +flex-wrap(wrap)

header, nav, footer
  +flex(0 0 100%)

aside
  +flex(0 0 33%)

main
  +flex(1)

/* Body Style */

body
  +background-image(linear-gradient( to top right, #D46071 0%, #E77F07 100%))

/* Header Style */

header
  background: white
  img
    width: 40em
    display: block
    margin: 0 auto


/* Nav Layout */

nav
  margin: 1em 0 0 0
  padding: 0 0.5em 0 0.5em

/* Nav Style */

nav
  .search
    text-align: right
  input[type=text]
    +panel(rgba(#FAFAFA, 0.33), none)
    border: none
    color: white
    height: 2em
  input[type=text]
    text-indent: 1em
    +input-placeholder
      text-indent: 1em
      color: rgba(#FFF, 0.5)
    &:focus
      outline: none
  input[type=submit]
    outline: none
    display: none

/* Aside Layout */

aside
  +panel
  margin: 1em 0 0 0.5em
  padding: 0 1em 0 1em

/* Main Layout */

// index.html

main ul.article-list
  +display-flex(flex)
  +flex-wrap(wrap)

  li
    +flex(0 0 33%)

  li > article a.card
    +panel
    margin: 1em 0 0 1em
    padding:  1em 0 0 -1em
    display: block

// show.html

article div.card
  +panel




img
  display: block
  margin: 0 auto
  width: 10em
